*~
*.gmo
*.la
*.lo
*.o
*.swp
*.tar.*
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.*
build-aux
intltool*
libtool
mate/mate-multiload-plugin
mate/*.mate-panel-applet
mate/*.mate-panel-applet.in
mate/*.service
mate/*.gschema.valid
mate/*.gschema.xml
xfce4/*.desktop
xfce4/*.desktop.in
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/LINGUAS
stamp-*
*-stamp
about-data-*.h
old
