*~
*.gmo
*.la
*.lo
*.o
*.swp
*.tar.*
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
configure
config.*
build-aux
intltool*
libtool
gmon.out
common/about-data.c
common/binary-data.c
common/color-scheme-icons.inc
data/generate-about-data.sh
indicator/indicator-multiload-ng
mate/mate-multiload-ng-applet
mate/org.mate.*.mate-panel-applet
mate/org.mate.*.mate-panel-applet.in
mate/org.mate.*.mate-panel-applet.in.in
mate/org.mate.panel.applet.*.service
mate/org.mate.panel.applet.*.gschema.valid
mate/org.mate.panel.applet.*.gschema.xml
mate/org.mate.panel.applet.*.gschema.xml.in
standalone/multiload-ng
standalone/*.desktop
standalone/*.desktop.in
systray/multiload-ng-systray
xfce4/*.desktop
xfce4/*.desktop.in
po/.intltool-merge-cache
po/POTFILES
po/multiload-ng.pot
po/LINGUAS
po/template.po
stamp-*
*-stamp
old
