*~
*.gmo
*.la
*.lo
*.o
*.swp
*.tar.*
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
configure
config.*
build-aux
intltool*
libtool
generate-about-data.sh
common/about-data.c
mate/mate-multiload-ng-applet
mate/org.mate.*.mate-panel-applet
mate/org.mate.*.mate-panel-applet.in
mate/org.mate.*.mate-panel-applet.in.in
mate/org.mate.panel.applet.*.service
mate/org.mate.panel.applet.*.gschema.valid
mate/org.mate.panel.applet.*.gschema.xml
standalone/multiload-ng
xfce4/*.desktop
xfce4/*.desktop.in
po/.intltool-merge-cache
po/POTFILES
po/LINGUAS
stamp-*
*-stamp
old
