*~
*.gmo
*.lo
*.o
*.la
*.pc
stamp-*
.dirstamp
.deps/
.libs/

autom4te.cache/
build-aux/
m4/

ChangeLog
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
config.*
configure
libtool
po/Makevars.template
po/POTFILES
po/Rules*
po/*.header
po/*.sed
po/*.sin

doc/html/

multiload-debug-collector
